.progress-bar{
    width:50%;
    height: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: hidden;
}


.move{
    width:10%;
    height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(107, 224, 107);
}